body {
  margin: 0 ;
}

#container
{
  margin: 0 auto;
  width: 100%;
  background: #fff;
}

#header
{
  /*background: #0099ff;*/
  padding: 20px;
  background: #ffffff url(../p1/ban2.png) repeat-y 80% 0;
}

#header h1
{
  margin: 0;
  color: #0099ff;
  text-align: center;
  text-decoration: blink;
}

#navigation
{
  float: left;
  width: 100%;
  background: #0000ff;
}

#navigation ul
{
  margin: 0;
  padding: 0;
  padding-left: 20%;
}

#navigation ul li
{
  list-style-type: none;
  display: inline;
}

#navigation li a
{
  display: block;
  float: left;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border: 0px solid #fff;
}

#navigation li a:hover
{
background: #0099ff;
text-decoration: none;
}

#content-container1
{
  float: left;
  width: 100%;
  background: url(../p1/back1.png) repeat-y 20% 0;
}

#content-container2
{
  float: left;
  width: 100%;
  background: #ffffff url(./p1/back2.png) repeat-y 80% 0;
}

#section-navigation
{
  float: left;
  width: 16%;
  padding: 0px 0;
  margin: 0 2%;
  display: inline;
  background: #ffffff;
}

#section-navigation ul
{
  margin: 0;
  padding: 0;
}

#section-navigation ul li
{
  margin: 0 0 1em;
  padding: 0;
  list-style-type: none;
}

#section-navigation h3
{
  color: #c0c0c0;
  margin: 10;
}

#section-navigation a
{
  color: #000fff;
  margin: 100;
  text-decoration: none;
}

#content
{
  float: left;
  width: 45%;
  padding: 20px 0;
  margin: 0 0 0 2%;
  color: #000000;
  border: 0px solid #cecece;
}

#content code {
  margin: 10;
  width: 98%;
  padding: 2px 4px;
  color: #d14;
  /*white-space: nowrap;*/
  background-color: #f7f7f9;
  border: 0px solid #e1e1e8;
}

#content h2
{
  margin: 0;
}

#content p
{
  margin: 10;
  padding: 0;
  width: 98%;
}

#content h2
{
  color: #c0c0c0;
}

#content h3
{
  color: #c0c0c0;
}

#aside
{
  float: right;
  width: 16%;
  padding: 20px 40;
  margin: 0 10% 20 0;
  display: inline;
}

#aside a
{
  margin: 0;
  color: #000fff;
  text-decoration: none;
}

#aside h3
{
  margin: 0;
  color: #c0c0c0;
}

#aside ul
{
  margin: 0;
  padding: 0;
}

#aside ul li
{
  margin: 0 0 1em;
  padding: 0;
  list-style-type: none;
}

#footer
{
  clear: both;
  background: #000000;
  text-align: right;
  padding: 40px;
  height: 1%;
}

#footer
{
 color: #ffffff;
 text-align: center;
 background: #ffffff url(../p1/ban2.png) repeat-y 80% 0;
}

#footer a
{
 color: #0099ff;
 text-align: center;
 text-decoration: none;
}